<template name="sidebarHeader">
	<div class="oc-sidebar-header">
		<ul class="nav nav-justified-all">
			<li>
				<a id="oc-left-toggle" href="#oc-wrapper"
					 class="btn-nav" style="width: 50px; font-size: 120%;"
					 data-toggle="offcanvas" data-control="left"
					 data-states="open,partial"
					 data-persist="lg,md,sm"
					 data-parent="body" data-sibling="right">
					<i class="fa fa-bars oc-partial-rotate"></i>
				</a>
			</li>
			<li>
				<a class="btn-nav" href="{{ Meteor.settings.public.homeUrl }}">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<a class="btn-nav logout-btn">
					<i  title="Logout" class="fa fa-sign-out"></i>
				</a>
			</li>
		</ul>
	</div>
</template>
