<template name="header">
	<nav class="navbar navbar-default navbar-static-top navbar-inplace">
		<ul class="nav navbar-nav navbar-left pull-left hidden-sm hidden-md hidden-lg">
			<li>
				<a id="oc-left-toggle-xs" href="#oc-wrapper" class="btn-nav pull-left " data-toggle="offcanvas" data-control="left" data-states="open,hidden" data-persist="lg,md,sm" data-parent="body" data-sibling="right">
        			<i class="fa fa-bars"></i>
    			</a>
			</li>
		</ul>
		<a class="navbar-brand text-gradient-primary-dk" href="#">
			<img src="{{ Meteor.settings.public.logoUrl }}">
		</a>
	</nav>
</template>
