<head>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,minimal-ui,initial-scale=1,maximum-scale=1.0,user-scalable=no">
  <link rel="icon" href="https://venture-capital-cl.s3.amazonaws.com/orionjs/xuGq9LCPfvKL4ymE6.JPG">

</head>
<body>
  <div id="mq"></div>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64831717-1', 'auto');
    ga('send', 'pageview');
  </script>
  <a href="mailto:javier@venturecapital.cl?subject=Feedback Join Venture" class="feedback-btn btn btn-primary">Feedback</a>
</body>
