<template name="projectSidebar">
	{{> sidebarHeader }}
	<div class="oc-sidebar-content" id="collapseAvatarLeft">
		<div class="oc-partial-hidden">
			<div class="padded">
				<p style="color: #737d83" class="text-center">{{ description.name }}</p>
			</div>
		</div>
		<ul class="nav nav-stacked oc-sidebar-nav" id="collapseNavbarLeft2">
			{{# if itsApproved }}
			<li class="{{ isActiveRoute regex='project.indicators' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.indicators.index' }}">
					<i class="oc-partial-icon fa fa-dashboard"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.dashboard" }}
					</span>
				</a>
			</li>
			{{/ if }}
			{{# if itsApproved }}
			<li class="{{ isActiveRoute regex='project.posts' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.posts.index' }}">
					<i class="oc-partial-icon fa fa-rss"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.timeline" }}
					</span>
				</a>
			</li>
			{{/ if }}
			<li class="{{ isActiveRoute regex='project.description' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.description.edit' }}">
					<i class="oc-partial-icon fa fa-info"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.description" }}
					</span>
				</a>
			</li>
			<!--
			<li class="{{ isActiveRoute regex='project.mails' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.mails.index' }}">
					<i class="oc-partial-icon fa fa-inbox"></i>
					<span class="oc-partial-menu-item">
						Inbox
					</span>
				</a>
			</li>-->
			{{# if itsApproved }}
			<li class="{{ isActiveRoute regex='project.tasks' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.tasks.index' }}">
					<i class="oc-partial-icon fa fa-check-square-o"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.tasks" }}
					</span>
				</a>
			</li>
			{{/ if }}
			<li class="{{ isActiveRoute regex='project.files' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.files.index' }}">
					<i class="oc-partial-icon fa fa-files-o"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.files" }}
					</span>
				</a>
			</li>
			{{# unless itsApproved }}
			<li class="{{ isActiveRoute regex='project.review' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.review.index' }}">
					<i class="oc-partial-icon fa fa-check"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.review" }}
					</span>
				</a>
			</li>
			{{/ unless }}
			<li class="{{ isActiveRoute regex='project.roles' }}">
				<a class="collapsed"
				href="{{ pathFor 'project.roles.index' }}">
					<i class="oc-partial-icon fa fa-users"></i>
					<span class="oc-partial-menu-item">
						{{ _ "project.sidebar.roles" }}
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="oc-partial-hidden">
		<div class="padded">
			<a class="btn btn-black-dk btn-block" href="{{ pathFor 'admin.projects.index' }}">
				<span class="text-dark-lt">{{ _ "global.back" }}</span>
			</a>
		</div>
	</div>
</template>
